*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    /*display: flex;*/
    background: #f4f4f4;
}

.item{
    width: 100px;
    height: 100px;
    background: blue;
    color: #fff;
    margin: 10px;
    float: left;
}

